<!DOCTYPE html>
<html>
  <head>
    <title>ZypeApiTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Main navigation -->
    <%= render 'shared/nav' %>
    <!-- Page contents -->
    <%= yield %>
  </body>
</html>
